* {
  font-family: "Roboto", sans-serif;
  background: url("./constants/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.App {
  margin-top: 10%;
  text-align: center;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
}

.input {
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  width: 240px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
}

.button {
  color: white;
  background: #d2691e;
  border: none;
  font-weight: bolder;
  margin: 30px 0px 40px 0px;
  padding: 13px 19px 13px 19px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  color: white;
  background: #d2691e;
  opacity: 1;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weather {
  border: 2px;
  padding: 10px;
}

.header {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
  opacity: 0.8;
  font-family: "Vibur", cursive;
}

.temperature {
  margin-top: 17px;
  font-weight: bold;
  font-size: 25px;
  color: #f4a460;
  font-family: "Staatliches", cursive;
}

.icon {
  margin-top: 15px;
}

.country {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.country select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 250px;
  color: white;
}

li {
  color: #fff;
  font-weight: bold;
}

.fahrenheit {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.fahrenheit {
  cursor: pointer;
  color: #fff;
}
