* {
  font-family: "Roboto", sans-serif;
}
.App {
  margin-top: 10%;
  text-align: center;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
}

.input {
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 9px 7px 9px;
  color: #7b68ee;
}

.button {
  background: #7b68ee;
  color: white;
  border: none;
  font-weight: bolder;
  margin-left: 10px;
  padding: 10px 7px 10px;
}

.button:hover {
  background: white;
  color: #7b68ee;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weather {
  border: 2px;
  background: #e6e6fa;
  padding: 10px;
}

.header {
  color: aqua;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.temperature {
  margin-top: 17px;
  font-weight: bold;
  font-size: 20px;
  color: #6a5acd;
}

.icon {
  margin-top: 15px;
}
